.user{
    display: flex;
    align-items: center;

    &_avatar img{
        max-width: 48px;
        user-select: none;
        min-height: 48px;
        min-width: 48px;
        border-radius: 50%;
    }
    &_info{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    &_name{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    &_settings{
        margin-left: auto;
        cursor: pointer;
        opacity: 0.5;
        svg{
            width: 20px;
            height: 20px;
        }
    }

    &_boosters{
        color: #FFC700;
        font-size: 14px;
        font-weight: 900;

        span{
            margin: 0 10px;
            font-weight: 400;
        }
    }
}

.settings{

    &_input{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        span{
            font-size: 12px;
            margin-bottom: 5px;
        }
        input{
            color: #fff;
            border: 1px solid rgb(222,222,222);
            border-radius: 10px;
            padding: 10px;
            font-size: 20px;
        }
    }

    &_save{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 0;
        margin-bottom: 16px;
        background: #222225;
        color: #fff;
        cursor: pointer;

        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus{
            outline: 5px solid rgba(34,34,37,0.6);
        }
    }
}

.languages{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    input{
        display: none;
        appearance: none;
    }
    input:checked ~ div{
        background: rgba(22,22,22,0.5);
        outline: 3px solid rgba(7, 151, 255, 0.1);
        border-color: #337db7;
    }
}
.language{
    width: calc(50%);

    &:nth-child(2n) &_body{
        margin-left: 5px;
    }
    &:nth-child(2n-1) &_body{
        margin-right: 5px;
    }

    &_body{
        display: flex;
        align-items: center;
        border: 1px solid rgb(111,111,111);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    &_info{
        display: flex;
        flex-direction: column;

        span:first-child{
            font-size: 14px;
            font-weight: 700;
        }
        span:last-child{
            font-size: 12px;
        }
    }

    img{
        max-width: 20px;
        margin-right: 10px;
        height: 20px;
    }
}

.loader {
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}