.pluck{
    margin-top: 100px;
}
.footer{
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    max-height: fit-content;
    user-select: none;
    background: #000;
    width: 100vw;

    &_body{
        padding: 10px 20px;
        width: 280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }


    &_link{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        text-decoration: none;
        outline: none;
        height: fit-content;
        color: unset;
        svg{
            fill: var(--footer-deactivite-svg);
            transition-duration: 0.2s;
            stroke: var(--footer-svg-stroke);
            stroke-width: 1px;
            stroke-linecap: round;
            overflow: visible;
            min-width: 25px;
            height: 25px;
            backdrop-filter: blur(8px);
        }
        span{
            transition-duration: 0.2s;
            color: var(--footer-text-color);
            margin-top: 3px;
            font-size: 12px;
            opacity: 0.6;
        }

        &:hover{
            span{
                color: var(--footer-hover-color);
            }
            svg{
                fill: var(--footer-svg-hover-color);
            }
        }

        &:global(.active){
            svg{
                stroke: #c0c0c0;
                fill: var(--footer-svg-active-color);
            }
            span{
                color: var(--footer-active-color);
            }
        }
    }
}