.pluck{
    margin-top: 100px;
}
.footer{
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    max-height: fit-content;
    user-select: none;
    width: 100vw;

    &_body{
        background: #89898929;
        border-radius: 20px;
        max-width: calc( 100% - 32px );
        margin: 0 16px 30px 16px;
        backdrop-filter: blur(8px);
        padding: 10px 20px 15px 20px;
        display: flex;
        justify-content: space-between;
    }


    &_link{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        text-decoration: none;
        outline: none;
        height: fit-content;
        color: unset;
        max-width: 33%;
        width: 33%;
        position: relative;
        img{
            opacity: 0.5;
        }
        span{
            transition-duration: 0.2s;
            color: var(--footer-text-color);
            margin-top: 3px;
            font-size: 12px;
            opacity: 0.6;
        }

        &:hover{
            span{
                color: var(--footer-hover-color);
            }
            img{
                opacity: 0.7;
            }
        }

        &:global(.active){
            animation: none!important;
            img{
                opacity: 1;
            }
            span{
                color: var(--footer-active-color);
            }
        }
        &:global(.new){
            opacity: 1;
            animation: 1s blink alternate infinite;
            &:before{
                content: "";
                background: #fb6c6c;
                width: 10px;
                height: 10px;
                position: absolute;
                z-index: 2;
                margin-left: 25px;
                top: 3px;
                border-radius: 50%;
                display: block;

            }
        }
    }
}

@keyframes blink {
    from { opacity: 1; transform: scale(0.95) }
    to { opacity: 0.5; transform: scale(1) }
}