@import './vendor/normalize.css';

#root {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  color: var(--text-color);
}
:root{
  --body-background: #000;
  --text-color: #fff;

  --item-background: #444;

  --footer-text-color: #7C7C7C;
  --footer-active-color: #fff;
  --footer-svg-stroke: #333;

  --skeleton-background: rgba(59, 59, 63, 0.3);
  --skeleton-foreground: rgba(141, 141, 148, 0.3);
}
.page-title{
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 16px;
  margin-top: 0;
}
.black_toast{
  background-color: #222!important;
  color: #fff!important;
}
*::-webkit-scrollbar {
  display: none;
}
.balance-anim{
  animation: 0.2s ease-in balanceAnimation;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent!important;
}
@keyframes balanceAnimation {
  0%{
    opacity: 1;
  }
  10%{
    transform: scale(0.9);
    opacity: 0.5;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.confetti{
  transition-duration: 0.5s;
  pointer-events: none;
}
.disabled-confetti{
  opacity: 0!important;
}